@tailwind base;
@tailwind components;
@tailwind utilities;

:root.light {
  /* --yellow-color: #facc15; */
  --background-color: #fffbea; /*(Light Cream) */
  --main-color: #ffc107; /* (Yellowish Gold) */
  --accent-color: #ffeb3b; /* (Bright Yellow)*/
  --text-color: #333333; /* (Dark Gray)*/
  --secondary-color: #ff9800; /* (Soft Orange)*/
}

:root.dark {
  /* --yellow-color: #161f38; */
  --background-color: #1a1a2e; /* (Dark Navy Blue)*/
  --main-color: #08141e; /* (Navy Blue)*/
  --accent-color: #00bfff; /* (Sky Blue)*/
  --text-color: #eaeaea; /* (Light Gray)*/
  --secondary-color: #16213e; /* (Deep Blue)*/
}
