@tailwind base;
@tailwind components;
@tailwind utilities;

:root.light {
  --background-color: #fffbea;
  --main-color: #ffc107;
  --accent-color: #ffeb3b;
  --text-color: #4b4b4b;
  --secondary-color: #eeeeee;
}

:root.dark {
  --background-color: #31363f;
  --main-color: #222831;
  --accent-color: #76abae;
  --text-color: #eeeeee;
  --secondary-color: #16213e;
  /* --background-color: #1a1a2e;
  --main-color: #08141e;
  --accent-color: #00bfff;
  --text-color: #eaeaea;
  --secondary-color: #16213e; */
}

/* body div main > * { */
body * {
  transition-duration: 0.3s;
}
